.maplibregl-popup {
  font-size: 14px;
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.15);
  color: black;
}

.maplibregl-popup-content {
  padding: 2rem;
  width: 30vw;
  font-size: xx-large;
  display: flex;
  flex-direction: column;
}

.maplibregl-popup-close-button {
  color: black;
  font-size: 2rem;
  padding: 0.5rem;
}

.participants {
  padding-bottom: 1rem;
}

@media only screen and (max-width: 600px) {
  .maplibregl-popup-content {
    padding: 0.6rem;
    width: 85vw;
    font-size: larger;
  }
}
