.packer-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 2rem;
  justify-content: center;
  height: 70%;
}

.packer-items {
  color: black;
}
.packer-controls {
  width: 100%;
  display: flex;
  justify-content: center;
}

.item-container {
  padding: 0.5rem;
  border-radius: 0.3rem;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;

  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.list-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 540px;
}

.packer-title {
  text-align: center;
  color: #000;
}

.packer-reset {
  width: 20%;
  color: #000;
  background-color: #00ff71;
  align-self: center;
  border: 1px solid black;
  box-shadow: 1px 1px 2px black;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
}

.packer-instructions {
  color: #000;
  text-align: center;
}
.error-message {
  color: red;
  text-align: center;
}

.main-packer-container {
  display: flex;
  flex-direction: column;
}

.packer-delete {
  background-color: red;
  color: #000;
  border: 1px solid black;
  box-shadow: 1px 1px 2px black;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 600px) {
  .item-container {
    padding: 0.1rem;
    margin-bottom: 0.2rem;
    margin-right: 0;
  }

  .list-container {
    flex-wrap: nowrap;
    max-height: 900px;
  }
  .list-packer-title {
    margin: 0.3rem;
  }

  .packer-reset {
    width: 50%;
  }
  .packer-container {
    padding: 0.5rem;
  }
  .packer-title {
    margin: 0.3rem;
  }
}
