.footer-container {
  width: 100%;
  height: 5vh;
}

.footer-list {
  display: flex;
  flex-direction: row;
  color: black;
  padding: 0;
  width: 100%;
  list-style: none;
  justify-content: space-evenly;
}

.tiktok-svg {
  height: 2vh;
}

.link-element {
  display: flex;
}

.link-text {
  margin: 0;
}

@media only screen and (max-width: 600px) {
  .link-text {
    display: none;
  }
}
